<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @post.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @post.lastname %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
